[submodule "origin/autoport"]
	path = origin/autoport
	url = https://github.com/hellfreak/port-scan-automation.git
[submodule "origin/auto1"]
	path = origin/auto1
	url = https://github.com/hellfreak/port-scan-automation
